@charset "UTF-8";

@font-face {
  font-family: 'HurmeGeometricSans3-Bold';
  src: local('HurmeGeometricSans3-Bold'),
    url('../fonts/HurmeGeometricSans3-Bold.woff') format('woff');
}

@font-face {
  font-family: 'HurmeGeometricSans3-Regular';
  src: local('HurmeGeometricSans3-Regular'),
    url('../fonts/HurmeGeometricSans3-Regular.woff') format('woff');
}

@font-face {
  font-family: 'HurmeGeometricSans3-Black';
  src: local('HurmeGeometricSans3-Black'),
    url('../fonts/HurmeGeometricSans3-Black.woff') format('woff');
}

@font-face {
  font-family: 'HurmeGeometricSans3-Light';
  src: local('HurmeGeometricSans3-Light'),
    url('../fonts/HurmeGeometricSans3-Light.woff2') format('woff2');
}

$font-regular: 'HurmeGeometricSans3-Regular', sans-serif;
$font-bold: 'HurmeGeometricSans3-Bold', sans-serif;
$font-black: 'HurmeGeometricSans3-Black', sans-serif;
$font-light: 'HurmeGeometricSans3-Light', sans-serif;

$bg-primary: #eeebe4;
$bg-secondary: #e89ca2;
$white: #ffffff;
$black: #000000;
$primary: #13294b;
$secondary: #002238;

@mixin text {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}

@mixin img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

#es-rc #es-rc-content {
  margin: 0 auto;
  padding: 0;
  font-family: $font-regular;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  max-width: 100vw;
  overflow: hidden;
  background-color: #ffffff;

  * {
    box-sizing: border-box;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  .es-title {
    padding-top: 10px;
    margin-bottom: 10px;
    font-family: $font-bold;
    font-weight: 700;
    font-size: 16px;
    color: $primary;
    text-align: center;
  }

  .es-kv {}

  .es-features {}

  .es-description {
    background: $bg-secondary;
  }

  .es-ingredients {}

  .es-video {}

  .es-steps {}

  .es-cross {}

  .es-faq {}

  .es-footer {}


  .swiper-pagination-bullet {
    background-color: #afafaf;
    width: 20px;
    height: 20px;
    border-radius: 100%;
  }

  .swiper-pagination-bullet-active {
    background-color: #bebcbc;
  }

  .es-video {
    padding: 6% 0% 2%;
    min-height: 600px;
    margin-bottom: 100px;

    &__container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
    }

    &__wrapper {
      margin: 0 auto;
      width: 80%;
    }

    iframe {
      border: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &__iframe {
      &--desktop {
        display: none;
      }

      &--mobile {
        border: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 650px !important;
      }
    }
  }

  @media screen and (min-width: 1200px) {}

}